---
layout: default
title: Projects
---

<div class="title">
  <h1>Projects</h1>
  <p>A showcase of a few of my favorite projects.</p>
</div>

{% assign projects = site.projects | sort: 'meta.date' %}

<div class="content">
  <div class="projects">
  {% for project in projects %}
    {% if project.meta.featured == true %}
    <div class="project">

      <div class="project__image">
        <figure class="progressive">
          <img class="progressive__img progressive--not-loaded"
          data-progressive="https://res.cloudinary.com/donutdeflector/image/upload/h_480,f_auto,q_auto:/v1577645297/ptran.dev/projects/{{project.meta.hero}}"
          src="https://res.cloudinary.com/donutdeflector/image/upload/w_16,q_auto:low/v1577645297/ptran.dev/projects/{{project.meta.hero}}">
        </figure>
      </div>

      <div class="project__content">

        <div class="project__tags">
          {% for tags in project.tags %}
          <span>{{tags}}</span>
          {% endfor %}
        </div>

        <div class="project__title">
          <h3>{{ project.title }}</h3>
        </div>

        <div class="project__summary">
          {{ project.excerpt }}
        </div>

        <div class="project__links">
          {% for meta in project.meta offset:3 %}
          <a class="button" target="_blank" rel="noopener" href="{{meta[1]}}">View {{meta[0] | capitalize}}</a>
          {% endfor %}
        </div>

      </div>

    </div>
    {% endif %}
    {% endfor %}
  </div>

  <p>Want to view more of my projects? Head over to my <a target="_blank" rel="noopener" href="https://github.com/ptrandev">GitHub page</a>.</p>
</div>