{% if page.url == "/" %}
  {% assign nav_page = "nav--home" %}
{% elsif page.url contains "projects" %}
  {% assign nav_page = "nav--projects" %}
{% elsif page.url contains "blog" %}
  {% assign nav_page = "nav--blog" %}
{% endif %}


<div class="nav {{ nav_page }}">
  <div class="nav__title">
    <h1>Phillip Tran</h1>
    <span>Student + Developer</span>
  </div>
  <div class="nav__menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </div>
  <!--
  <div class="nav__social">
    <span>Find Me Online</span>
    <ul>
      <li><a href="mailto:{{ site.email }}">Email</a></li>
      <li><a href="https://github.com/{{ site.github_username }}">GitHub</a></li>
    </ul>
  </div>
  <div class="nav__copyright">
    <span>&copy;  MMXIX</span>
  </div>
  -->
</div>