.post--card {
  background-color: $white-color-light;
  padding: $spacing-md;
  box-shadow: $shadow-1;

  .post__categories {

    margin-bottom: $spacing-sm;

    span {
      text-transform: uppercase;
      border: 1px solid $brand-color;
      padding: $spacing-xs $spacing-sm;
    }
  }

  .post__title {

    h3 {
    margin: 0;
    }
  }

  .post__excerpt {
    margin-top: $spacing-md;
  
    p {
      margin: 0;
    }
  }
}