.img--profile {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  margin: 0 2rem 2rem 0;
  float: left;

  @include media-query($container-width-md){
    max-width: 150px;
    max-height: 150px;
    margin: 0 1.5rem 1.5rem 0;
  }

  @include media-query($container-width-sm){
    max-width: 100px;
    max-height: 100px;
    margin: 0 1rem 0 0;
  }
}