.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30vw;
  max-width: 400px;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(rgba($black-color, 0.75), rgba($black-color, 0.75)), url("/img/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: $padding-lg;
  color: $white-color;

  h1 {
    margin: 0;
  }
}

.nav__title {
  padding-bottom: $padding-md;
}

.nav__menu {
  ul {
    list-style-type: none;
    padding: 0;
  }
}