.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(rgba($black-color, 0.75), rgba($black-color, 0.75)), url("/img/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: $spacing-lg;
  color: $white-color;

  h1 {
    margin: 0;
  }

  .nav__title {
    padding-bottom: $spacing-md;

    span {
      font-size: $h5-font-size;
    }
  }

  .nav__menu {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    li {
      font-size: $h3-font-size;
    }
  }
}

@media screen and (max-width: $container-width-md) {
  body {
    flex-direction: column;
  }

  .nav {
    position: relative;
    height: auto;
    max-width: 100%;
    width: 100%;
    background-position: bottom center;
    align-items: center;
    justify-content: center;

    .nav__menu {
      ul {
        display: flex;
      }

      li {
        font-size: $h5-font-size;
        margin-right: $spacing-md;
      }

      li:last-child {
        margin: 0;
      }
    }
  }

  .wrapper {
    margin: auto;
  }
}