.post {

  width: 100%;
  max-width: $container-width-md;
  margin: 0 auto;

  .post__toc {
    padding-top: $spacing-sm;
    border-top: $spacing-xs solid $black-color;
    border-bottom: $spacing-xs solid $black-color;
    margin: $spacing-md 0;
  }

  .post__image {
    box-shadow: $shadow-1;

    figcaption {
      font-size: $small-font-size;
      padding: $spacing-md;
      background-color: $white-color-light;
      text-align: center;
    }
  }

  .color-tiles {
    display: flex;
    flex-wrap: wrap;

    .color-tile {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 200px;
      width: calc(33% - #{$spacing-md * 2});
      box-shadow: $shadow-1;
      margin: $spacing-md;

      @include for-lg {
        width: calc(50% - #{$spacing-md * 2});
      }

      @include for-sm {
        width: calc(100% - #{$spacing-md * 2});
      }
    
      .color-tile__info {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: $white-color-light;
        padding: $spacing-sm $spacing-md;
      }
    }

    .color-tile--title {
      align-items: center;
      justify-content: flex-start;
      box-shadow: none;
      white-space: pre-line;

      h4 {
        margin: 0;
      }
    }
  }
}