.projects {

  display: flex;
  flex-wrap: wrap;

  .project {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: $spacing-md;
    box-shadow: $shadow-1;
    background-color: $white-color-light;

    .project__content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: $spacing-md;
    }

    .project__tags {
      display: flex;
      flex-wrap: wrap;

      span {
        border: 1px solid $black-color;
        padding: 0 $spacing-xs;
        font-size: $small-font-size;
        text-transform: uppercase;
        margin: 0 $spacing-xs $spacing-xs 0;
      }

      span:last-child {
        margin-right: 0;
      }
    }

    .project__summary {
      flex: 1;
    }

    .project__links {

      margin-top: auto;
      border-top: $spacing-xs solid $black-color;
      padding-top: $spacing-md;

      a {
        transition: background-color 0.15s ease-out, border-color 0.15s ease-out, color 0.15s ease-out;
      }

      a:first-child {
        padding: $spacing-xs $spacing-sm;
        background-color: $brand-color;
        color: $white-color-light;

        &:hover {
          background-color: $accent-color;
        }
      }

      a:nth-child(2) {
        padding: calc(#{$spacing-xs} - 1px) calc(#{$spacing-sm} - 1px);
        border: 1px solid $brand-color;

        &:hover {
          border-color: $accent-color;
          color: $accent-color;
        }
      }

      a:hover {
        text-decoration: none;
      }
    }
  }

  @media screen and (min-width: $container-width-lg) {
    .project {
      width: calc(50% - (#{$spacing-md}));
    }

    .project:nth-child(odd) {
      margin-right: $spacing-md;
    }
  }

  @media screen and (min-width: $container-width-xl) {
    .project {
      width: calc(33% - (#{$spacing-md}));
      margin-right: $spacing-md;
    }

    .project:nth-child(3n) {
      margin-right: 0;
    }
  }
}