.transition-fade {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1),
                transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  html.is-animating .transition-fade {
    opacity: 0;
    transform: translateY(-15%);
    transition: opacity 0.3s cubic-bezier(0.35, 0.055, 0.675, 0.19),
                transform 0.3s cubic-bezier(0.35, 0.055, 0.675, 0.19);
  }
